*.suo
*.user
*.filters
*.obj
*.iobj
*.ipdb
*.log
*.pdb
*.tlog
*.testdurations

.vs/
visualstudio/Win32-Debug/
visualstudio/Win32-Release/
visualstudio/test/
visualstudio/test-debug/
visualstudio/Debug/
visualstudio/Release/
Debug/
Release/
